.component-container{
  width:auto;
  height:auto;
  background-image: url("./src/svg/navbar.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  align-items: center;
  flex-direction: column-reverse;
.map-container {
    height: 500px;
    width: 80%;
    position: relative;
}
}

