.Body {
    background-image: url("./src/svg/navbar.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-top: 0 !important;
    padding-top: 0;
    .pollentitle{
      padding-left: 26px;
      color: white;
      font-size: 25px;
      display: block;
      width: 100%;
      margin-bottom: 0;
      margin-top: 1rem;
}
    .HeadingBody {
      padding-left: 26px;
      color: white;
      font-size: 23px;
      display: block;
      width: 100%;
      margin-bottom: 0;
      margin-top: 1rem;
    }
    .ErrorandLoading {
      display: inline-block;
      width: 100%;
      font-size: 20px;
      color: white;
      margin-left: 26px;
      padding-bottom: 0;
      font-weight: bold;
    }
    ul {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-wrap: wrap;
      justify-content: start;
      margin-left: -33px;
      margin-top: 0;
      aside {
        background-color: rgb(110, 75, 23);
        border: 1px solid rgb(241, 149, 10);
        box-shadow: 0 0 0 0.05em rgb(241, 149, 10);
        h3 {
          border: 1px solid black;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          color: white;
        }
        article {
          p:first-child {
            font-weight: bold;
            font-size: 18px;
          }
          border-bottom: 1px solid grey;
          p {
            text-align: left;
          }
        }
      }
    }
  }