.interfaceflex {
  display: flex;
 background-color:#F1FAEE;
justify-content:center;
.Form {
    form {
      outline: none;
      box-shadow: none;
      border: none;
      .flexdaysbuttons{
        display:flex;
        gap:3px;
      .interfacebutton {
        background-color: #A8DADC;
        border: 2px solid #457B9D;
        color: #457B9D;
        cursor: pointer;
        position: relative;
        transition: background-color 100ms linear;
        &::before {
          pointer-events: none;
          content: "";
          position: absolute;
          background-color: #1D3557;
          top: 70%;
          left: 0;
          width: 100%;
          height: 100%;
          transform: perspective(1em) rotateX(10deg) scale(1, 0.1);
          filter: blur(1em);
          opacity: 0.7;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0%;
          bottom: 0;
          right: 0;
          left: 0;
          box-shadow: 0 0 0.5em 0.25em #1D3557;
          opacity: 0;
          background-color:#1D3557;
          z-index: -1;
          transition: opacity 100ms linear;
        }
        &:hover,
        &:focus {
          background-color: #1D3557;
          text-shadow: none;
          color: #F1FAEE;
          &:after {
            opacity: 1;
          }
          &:before {
            opacity: 1;
          }
        }
        &--active{
        margin:0;
        background-color: #1D3557;
        border: 2px solid #457B9D;
        color: #F1FAEE;
        cursor: pointer;
        transition: background-color 100ms linear;
        }
      }
    }
  }
}
}