.MapboxSearchFieldBackground{
    width:auto;
    height:auto;
 background-color: #F1FAEE;
    padding: 1rem;
    padding-top:0;
    padding-bottom: 0.5rem;
    position: relative;
    margin-top: 1rem;
    .mapboxgl-ctrl-geocoder--input{
     background-color: #1D3557;
     color: #F1FAEE !important;
     &::placeholder{
         color: white;
         opacity:0.5;
     }
     &::active, &:focus{
         border:none;
     }
    }
    .mapboxgl-ctrl-geocoder--icon {
        fill: #F1FAEE;
        opacity:0.5;
        &-close{
            background-color:#1D3557;
        }
    }
    .mapboxgl-ctrl-geocoder--button{
        background-color: #1D3557 ;
    }
    .mapboxgl-ctrl-geocoder{
        min-width: 200px;
    }
}

.mapboxgl-ctrl-geocoder{
    .map-container--search-disabled &{
            display:none;
        }
    }