.InformationCards {
  background-image: url("./src/svg/navbar.svg");
  background-size: cover;
  background-repeat: no-repeat;
    .pollentitle{
      color: white;
      font-size: 22px;
      display: block;
      width: 100%;
      text-align: center;
      font-weight: bold;
      background-image: url("./src/svg/navbar.svg");
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 1rem;
      padding-bottom: 1rem;
}
    .ErrorandLoading {
      display: block;
      width: 100%;
      font-size: 18px;
      color: white;
      padding-bottom: 0;
      font-weight: bold;
      text-align:center;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: 0;
      aside {
        background-color: rgb(110, 75, 23);
        border: 1px solid rgb(241, 149, 10);
        box-shadow: 0 0 0 0.05em rgb(241, 149, 10);
        flex: 1 1 250px;
        margin:0.5rem;
        margin-top:0;
        h3 {
          border: 1px solid white;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          color: white;
          font-size: 18px;
          font-weight: bold;
          line-height:1.5;
        }
        article {
          color: white;
          line-height: 1.5;
          font-size: 16px;
          p:first-child {
            font-weight: bold;
            font-size: 18px;
          }
          border-bottom: 1px solid grey;
          p {
            text-align: left;
          }
        }
      }
    }
  }