@import url(./reset.scss);
@import url("https://unpkg.com/mvp.css");

*{
font-family: monospace !important;
}

:root{
  --width-card: none;
    --width-card-medium: none;
    --width-card-wide: none;
    --width-content: none;
}

body {
  min-height: 1000px;
  background-image: url("./src/svg/navbar.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

form{
padding-left: 1rem;
padding-bottom: 0.5rem;
padding-top: 0.5rem;
padding-right: 0.5rem;
}

button{
padding : 0.5rem 0.8rem;
line-height:1.5;
margin:0;
:hover{
  filter: none !important;
}
}

@media(max-width:450px){
  .component-container{
   .map-container{
    width:100%;
  }
}
}

