.Navbar {
  background-color: #F1FAEE;
    width: auto;
    height: auto;
    display:flex;
    justify-content:left;
    padding-top: 0rem;
    padding-left: 1rem;
    h1 {
      display: flex;
      color: #457B9D;
      line-height: 15px;
      align-items: center;
      gap: 10px;
      font-size: 30px;
      img {
        width: 15%;
        height: auto;
      }
    }
  }