.Navbar {
    background-image: url("./src/svg/navbar.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    display:flex;
    justify-content:left;
    padding-top: 0rem;
    padding-left: 1rem;
    h1 {
      display: flex;
      color: white;
      line-height: 15px;
      align-items: center;
      gap: 10px;
      font-size: 30px;
      img {
        width: 15%;
        height: auto;
      }
    }
  }