/* .Location {
    background-image: url("./src/svg/navbar.svg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    table {
      margin-left: 25px;
    }
  } */