@import url(./reset.scss);
@import url("https://unpkg.com/mvp.css");

*{
font-family: monospace !important;
}

:root{
  --width-card: none;
    --width-card-medium: none;
    --width-card-wide: none;
    --width-content: none;
}

ol li, ul li{
padding: 0;
}

body {
  min-height: 1000px;
  background-color: #F1FAEE;
}

form{
padding-left: 1rem;
padding-bottom: 0.5rem;
padding-top: 0.5rem;
padding-right: 0.5rem;
}

button{
padding : 0.5rem 0.8rem;
line-height:1.5;
margin:0;
:hover{
  filter: none !important;
}
}

@media(max-width:450px){
  .component-container{
   .map-container{
    width:80%;
  }
}
.buttonselection{
  justify-content: left;
}
}

@media(max-width:900px){
  .MapboxSearchFieldBackground{
    .mapboxgl-ctrl-geocoder{
      width:50%;
      max-width:none;
      font-size:18px;
      line-height: 20px;
      &--input{
        height:40px;
      }
      &--icon{
        top:11px;
      
      }
      &--button{
        top:7px;
      }
    }
  }
}


@media(max-width:640px){
  .MapboxSearchFieldBackground{
    .mapboxgl-ctrl-geocoder{
      width:80%;
      max-width:none;
      font-size:18px;
      line-height: 20px;
      &--input{
        height:40px;
      }
      &--icon{
        top:10px;
      }
      &--button{
        top:0px;
      }
    }
  }
}

@media(max-width:335px){
  .backgroundradiobutton{
  .radiobuttonform{
    flex-wrap:nowrap;
    flex-direction: column;
    .radiobutton{
      width:100%;
      &--active{
        width:100%;
      }
    }
  }
}
}

@media (max-width:250px) {
  .list{
    margin-left: 0;
    margin-right: 0;
  }
}