.component-container{
  width:auto;
  height:auto;
  background-color:#F1FAEE;
  display:flex;
  align-items: center;
  flex-direction: column-reverse;
.map-container {
    height: 100vw;
    width: 80%;
    position: relative;
  }
}

.legend{ 
  padding-top: 0.25rem;
  padding-left: 1rem;
  list-style:none;
  li{
    float: left;
    margin-right: 10px;
    span{
      float: left;
      width:12px;
      height:12px;
      margin: 2px;
    }
  }
}

.legend .green { background-color: #009e3a; }
.legend .lightgreen { background-color: #84cf33; }
.legend .yellow { background-color: #ffff00 }
.legend .orange {background-color: #ff8c00;}
.legend .red { background-color: #ff0000; }
